pandas~=1.2.0
tiledb~=0.7.5
numpy~=1.19.5
ujson~=4.0.1
pysam~=0.16.0.1
aiocache~=0.11.1
requests~=2.25.1
h5py~=3.1.0
scipy~=1.6.0
py~=1.10.0
toml~=0.10.2
attrs~=20.3.0
pytest~=6.2.1
pluggy~=0.13.1
iniconfig~=1.1.1
setuptools~=51.1.2
zipp~=3.4.0
keycloak~=3.0.0
coverage~=5.3.1